/* CSS reset */
* {
  margin: 0;
  padding: 0;
}
/* importing fonts */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&display=swap');

/* Banner style */
.banner{
  height: 100vh;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Baloo Bhaijaan 2', cursive;
  color: #B7D3DF;
  background-color: #898AA6;
}
.banner .horizontal_line{
  width: 90%;
  display: block;
  margin: auto;
  height: 0.2rem;
  border-radius: 4px;
  background-color:#F8F9D7 ;
}
.banner_flex{
  display: flex;
  align-self: center;
}
.banner_img img{
  width: 4rem;
}
.banner_img{
  position: absolute;
  left: 1rem;
}
#banner_text{
  margin: auto;
}
/* Exhibit style */
